// loader
.js-loader {
  // display: none;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #d8ffff;
  p {
    color: $grayMiddle;
    font-family: $primaryFont;
    font-size: 1.5em;
    @include centering-elements;
    // transition: opacity .4s linear .8s;
    animation: loadingText 0.6s linear alternate infinite;
  }
}

// send
.js-submit-wrap {
  position: relative;
}

.js-done-text {
  color: $primary;
  font-size: 0.875em;
  font-weight: bold;
  padding: 8px 0 0;
}

.js-fail-text {
  color: $sub;
  font-size: 0.875em;
  font-weight: bold;
  padding: 8px 0 0;
}

// works mordal
.js-works-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.7);
}

.js-works-modal {
  display: none;
  position: fixed;
  width: 800px;
  max-width: calc(100% - 24px);
  max-height: calc(100% - 24px);
  top: 50%;
  left: 50%;
  z-index: 99;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 24px 80px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
  @include mq {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  &__content {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding: 16px;
    @include mq {
      padding: 40px 8px 8px;
    }
  }
  &__close {
    position: absolute;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    border-radius: 0 0 0 100px;
    background-color: $sub;
    transition: all 0.4s ease-in-out;
    &::before {
      @include ba-block(30px, 3px);
      top: 20px;
      right: 6px;
      background-color: #fff;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }
    &::after {
      @include ba-block(30px, 3px);
      top: 20px;
      right: 6px;
      background-color: #fff;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      width: 64px;
      height: 64px;
      &::before {
        transform: rotate(225deg);
      }
      &:after {
        transform: rotate(135deg);
      }
    }
    &.is-active {
      width: 120%;
      height: 120%;
      border-radius: 0;
    }
  }
  &__header {
    @include cf;
    padding: 0 16px 16px 0;
    border-bottom: 1px solid #aaa;
  }
  &__thumbnail {
    width: 300px;
    max-width: 40%;
    max-height: 200px;
    float: left;
    margin-right: 24px;
    border: $border;
    overflow: hidden;
    @include mq {
      display: none;
      margin-right: 8px;
    }
    img {
      max-width: 100%;
    }
  }
  &__category {
    padding: 40px 8px 0;
    @include mq {
      padding: 0;
    }
    p {
      color: $textColor;
      font-size: 1.25em;
      font-weight: bold;
      @include mq {
        font-size: 1em;
      }
    }
  }
  &__title {
    padding: 0 8px;
    @include mq {
      padding: 0;
    }
    h3 {
      font-size: 1.5em;
      font-weight: bold;
      @include mq {
        font-size: 1.25em;
      }
    }
  }
  &__link {
    a {
      display: inline-block;
      color: $link;
      font-size: 0.875em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__article {
    padding: 12px 8px 16px;
    @include mq {
      padding: 8px;
    }
    img {
      max-width: 100%;
      border: $border;
    }
    p {
      font-size: 0.875em;
      line-height: 1.6;
      padding: 0 0 1em;
      &:last-child {
        padding: 0;
      }
      @include mq {
      }
    }
  }
  &__btn-close {
    color: #fff;
    padding: 8px 40px;
    margin-left: 8px;
    border-radius: 2px;
    background-color: $primary;
    cursor: pointer;
  }
}

.js-modal-img {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0 0 1em;
  &__pc-display {
    width: calc(50% - 16px);
    padding: 0;
    margin: 0 16px 0 0;
    @include mq {
      width: auto;
      max-width: 100%;
      margin: 0 0 8px;
    }
    &-flat {
      width: auto;
      margin: 0 0 16px;
      @include mq {
        margin: 0 0 8px;
      }
    }
  }
  &__app-display {
    width: calc(25% - 16px);
    padding: 0;
    margin: 0 16px 0 0;
    @include mq {
      width: calc(50% - 8px);
      margin: 0 8px 8px 0;
    }
  }
}
