.l-main {
  position: relative;
}

.l-section {
  position: relative;
  padding: 120px 0 80px;
  @include mq {
    padding: 56px 0 40px;
  }
  &--home {
    padding: 0;
    @include mq {
      padding: 0;
    }
  }
}

.l-content-width {
  width: 1120px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @include mq {
    width: auto;
    margin: 0 auto;
  }
}

.l-column {
}

.l-two-column {
  display: flex;
  justify-content: space-around;
  @include mq {
    flex-flow: column wrap;
  }
  &__first {
    width: 50%;
    padding: 0;
    @include mq {
      width: 100%;
      padding: 0 0 32px;
    }
    @include mq(medium) {
      padding: 0 0 8px;
    }
  }
  &__second {
    width: 50%;
    padding: 0;
    @include mq {
      width: 100%;
    }
  }
}
