@import '_mixin';

.sketch {
  position: relative;
  &__title {
    text-align: center;
  }
}

.sketch-list {
  display: flex;
  flex-flow: row wrap;
  @include mq(medium) {
  }
}

.sketch-item {
  width: 25%;
  display: block;
  line-height: 1;
  text-align: center;
  padding: 0 32px 40px;
  @include mq(medium) {
    width: 50%;
  }
  &__img {
    line-height: 0;
    box-shadow: 0 4px 8px rgba($textColor, 0.6);
    transition: box-shadow 0.4s;
    &:hover {
      box-shadow: 0 8px 20px rgba($textColor, 0.8);
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__title {
    font-family: $primaryFont;
    font-weight: bold;
    padding-top: 32px;
  }
}
